@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');

.container {
    width: 350px;
    height: 400px;
    border: solid black;
    font-size: 13px;
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    margin: auto;    
    justify-content: center;
    color: #fff;
    border-radius: 15px;    
    margin-top: 20vh;
}

.container h1{
    text-decoration: underline;
    margin: auto;
    font-family: Raleway;
}

.container h2{
    margin: auto;
    font-family: Noto Sans Mono;
    font-size: 50px;
}

.controls button{
    font-size: large;
    font-family: Raleway;
}

.controls {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;    
}